html{
    background-color: cadetblue;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: #111111;
}


li a:hover:not(.active) {
    background-color: #111;
    cursor:default;
}

.active {
    background-color: salmon;
}

#contact{
    float: right;
}

iframe, #welcomeimg{
    display: block;
    margin:auto;
    margin-top: 10%;
    border: 0;
}

#welcomeimg{
    width: 40%;
    height: auto;
}
#contactp {
    width: 20%;
    border-radius: 20px;
    line-height: 1.8;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 10%;
    padding:auto;
    background-color: aquamarine;
}


